- name: Ensure latest keyring (Arch Linux)
  when:
    - ansible_facts['os_family'] == 'Archlinux'
  community.general.pacman:
    name: archlinux-keyring
    state: latest
    update_cache: true

- name: Upgrade system (Arch Linux)
  when:
    - ansible_facts['os_family'] == 'Archlinux'
  community.general.pacman:
    update_cache: true
    upgrade: true

- name: Upgrade system (Debian / Ubuntu)
  when:
    - ansible_facts['os_family'] in ('Debian', 'Ubuntu')
  ansible.builtin.apt:
    update_cache: true
    upgrade: true
