- name: Install git repository
  ansible.builtin.include_role:
    name: git_repo
  vars:
    git_repo_repository_dir: "{{ iptables_repository_dir }}"
    git_repo_git_repository: "{{ iptables_git_repository }}"

- name: Check if /etc/iptables/iptables.rules exists
  ansible.builtin.stat:
    path: "/etc/iptables/iptables.rules"
  register: iptables_rules_file

- name: Remove existing iptables rules
  when:
    - iptables_rules_file.stat.islnk is defined
    - not iptables_rules_file.stat.islnk
  ansible.builtin.file:
    path: "/etc/iptables/iptables.rules"
    state: absent

- name: Link iptables rules
  ansible.builtin.file:
    src: "{{ iptables_repository_dir }}/rules.v4"
    dest: "/etc/iptables/iptables.rules"
    state: link

- name: Enable systemd service
  ansible.builtin.service:
    name: iptables.service
    enabled: true
    state: started
