- name: Install ucode update for Intel
  when:
    - 'GenuineIntel' in ansible_facts['processor']
  ansible.builtin.set_fact:
    install_arch_ucode: "intel-ucode"

- name: Install ucode update for AMD
  when:
    - 'AuthenticAMD' in ansible_facts['processor']
  ansible.builtin.set_fact:
    install_arch_ucode: "amd-ucode"

- name: Install ucode from bootstrap chroot
  ansible.builtin.command:
    argv:
      - "{{ install_arch_ucode | default('') }}"
  changed_when:
    - true
