- name: Install packages (Arch Linux)
  when:
    - packages is defined
    - ansible_facts['os_family'] == 'Archlinux'
  community.general.pacman:
    name: "{{ install_packages_packages }}"
    state: present

- name: Install packages (Debian / Ubuntu)
  when:
    - packages is defined
    - ansible_facts['os_family'] in ('Debian', 'Ubuntu')
  ansible.builtin.apt:
    name: "{{ install_packages_packages }}"
    state: present
