- name: Install packages docker and docker-compose
  ansible.builtin.include_role:
    name: install_packages
  vars:
    install_packages_packages:
      - docker
      - docker-compose
      - python-requests

- name: Create docker-compose root directory
  ansible.builtin.file:
    path: "{{ dockers_path }}"
    owner: root
    group: docker
    mode: "u=rwx,g=rx,o=rx"
    state: directory

- name: Create docker-compose symlink in home
  ansible.builtin.file:
    src: "{{ dockers_path }}"
    dest: "~/docker-compose"
    state: link

- name: Start and enable docker
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started

- name: Create a network
  community.docker.docker_network:
    name: web

- name: Check if the docker registry is already configured
  when:
    - docker_registry is defined
  ansible.builtin.command:
    argv:
      - grep
      - -q
      - "{{ docker_registry }}"
      - ".docker/config.json"
  register: docker_registry_configuration
  failed_when: false
  changed_when: false

- name: Authenticate to a docker registry
  when:
    - docker_registry is defined
    - docker_registry_user is defined
    - docker_registry_password is defined
    - docker_registry_configuration.rc != 0
  ansible.builtin.command:
    argv:
      - docker
      - login
      - -u
      - "{{ docker_registry_user }}"
      - -p
      - "{{ docker_registry_password }}"
      - "{{ docker_registry }}"
  register: docker_registry_login
  changed_when:
    - "docker_registry_login.rc == 0"
