- name: Set .ssh directory
  ansible.builtin.set_fact:
    ssh_key_ssh_config_dir: "~/.ssh"

- name: Create .ssh directory
  ansible.builtin.file:
    path: "{{ ssh_key_ssh_config_dir }}"
    owner: root
    group: root
    mode: "u=rwx,g=,o="
    state: directory

- name: Export SSH private key
  when:
    - ssh_key_private_key is defined
  ansible.builtin.copy:
    dest: "{{ ssh_key_ssh_config_dir }}/{{ ssh_key_private_key_name }}"
    content: '{{ ssh_key_private_key | b64decode }}'
    owner: root
    group: root
    mode: "u=rw,g=,o="

- name: Export SSH public key
  when:
    - ssh_public_key is defined
  ansible.builtin.copy:
    dest: "{{ ssh_key_ssh_config_dir }}/{{ ssh_key_public_key_name }}"
    content: '{{ ssh_key_public_key | b64decode }}'
    owner: root
    group: root
    mode: "u=rw,g=,o="
