- name: Maintenance for cloud7.muflone.com
  hosts: cloud7
  gather_facts: true
  roles:
    - role: common

    - role: upgrade_packages

    - role: etckeeper

    - role: install_packages
      install_packages_packages: "{{ packages }}"

    - role: install_packages
      when:
        - packages_extra is defined
      install_packages_packages: "{{ packages_extra }}"

    - role: docker

    - role: git_repo
      git_repo_repository_dir: "{{ base_path }}/pulldocker"
      git_repo_git_repository: "https://github.com/muflone/docker-cloud-pulldocker"

    - role: pulldocker
      pulldocker_path: "{{ base_path }}/pulldocker"
      pulldocker_yaml: "cloud7.yaml"

    - role: git_repo
      git_repo_repository_dir: "{{ dockers_path }}/cloud7-nginx-proxy-manager"
      git_repo_git_repository: "https://github.com/muflone/docker-cloud-nginx-proxy-manager"

    - role: git_repo
      git_repo_repository_dir: "{{ dockers_path }}/cloud7-archwiki_bot"
      git_repo_git_repository: "https://github.com/muflone/docker-cloud-archwiki_bot"
      git_repo_git_crypt: "{{ cloud7_archwiki_bot_git_crypt }}"
      git_repo_git_crypt_sentinel: "app.env"
