- name: Maintenance for cloud9.muflone.com
  hosts: cloud9
  gather_facts: true
  roles:
    - role: common

    - role: upgrade_packages

    - role: etckeeper

    - role: install_packages
      install_packages_packages: "{{ packages }}"

    - role: install_packages
      when:
        - packages_extra is defined
      install_packages_packages: "{{ packages_extra }}"

    - role: docker

    - role: git_repo
      git_repo_repository_dir: "{{ base_path }}/pulldocker"
      git_repo_git_repository: "https://github.com/muflone/docker-cloud-pulldocker"

    - role: pulldocker
      pulldocker_path: "{{ base_path }}/pulldocker"
      pulldocker_yaml: "cloud9.yaml"
