- name: Install dependencies
  when:
    - ssh_config_host is defined
    - ssh_config_hostname is defined
  ansible.builtin.include_role:
    name: install_packages
  vars:
    install_packages_packages:
      - python-paramiko

- name: Set .ssh directory
  ansible.builtin.set_fact:
    ssh_config_dir: "~/.ssh"

- name: Create .ssh directory
  ansible.builtin.file:
    path: "{{ ssh_config_dir }}"
    owner: root
    group: root
    mode: "u=rwx,g=,o="
    state: directory

- name: Add host in the configuration
  when:
    - ssh_config_host is defined
    - ssh_config_hostname is defined
    - ssh_config_private_key_name is defined
  community.general.ssh_config:
    host: "{{ ssh_config_host }}"
    hostname: "{{ ssh_config_hostname }}"
    port: "{{ ssh_config_port | default('22') }}"
    remote_user: "{{ ssh_config_username | default('root') }}"
    identity_file: "{{ ssh_config_dir }}/{{ ssh_config_private_key_name }}"
    state: present
    user: "root"

- name: Ensure known_hosts file exists
  when:
    - ssh_config_host is defined
  ansible.builtin.file:
    path: "{{ ssh_config_dir }}/known_hosts"
    state: touch
    modification_time: preserve
    access_time: preserve
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"

- name: Check if host fingerprint already exists
  when:
    - ssh_config_host is defined
  ansible.builtin.command:
    argv:
      - ssh-keygen
      - -F
      - "[{{ ssh_config_hostname }}]:{{ ssh_config_port | default('22') }}"
  register: ssh_config_known_host_check
  changed_when: false
  failed_when: false

- name: Add host fingerprint to known_hosts
  when:
    - ssh_config_host is defined
    - ssh_config_known_host_check.rc != 0
  ansible.builtin.shell:
    cmd: >
      set -o pipefail

      ssh-keyscan -p {{ ssh_config_port | default('22') }} {{ ssh_config_hostname }}
      | grep -v '^#'
      >> ~/.ssh/known_hosts
    executable: /bin/bash
  changed_when: true
